.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px auto;
  background-color: blanchedalmond;
}

.name {
  font-weight: 700;
}

.tag {
  margin: 10px 0;
  color: #808f9e;
}

.location {
  color: #808f9e;
}

.statsWrapper {
  background-color: #efefef;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: small;
}

.stats {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000000;
  margin: 20px auto;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: #808f9e;
  padding-bottom: 5px;
}

.quantity {
  font-weight: 700;
}
